body {
    background-color: #086375; /*set background color for page*/
}
header { /*set header to start from the beginning of page and center the items*/
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.logo { /*set size of logos*/
	width: 11vh;
	height: 11vh;
}
nav { /*set navigation bar to take all space that's left, set equal amount of space between <a> and set font size for them*/
	display: flex;
	flex: 1;
	justify-content: space-evenly;
	font-size: 150%;
}
nav a { /*set color, background color, font, border, padding and transition for hover*/
	margin: 0.2em;
	color: #086375;
	background: white;
	
	font-family: "Henny Penny", system-ui; 
 	font-weight: 400; 
  	font-style: normal; 
	text-decoration: none;
	font-weight: bold;
	border: 6px solid white;
	border-radius: 15px;
	padding: 0vh 13vh;
	transition: all 0.4s ease;
}
nav a:hover { /*set on hover to get bigger, change color and background color*/
	background-color: purple;
	border-color: purple;
	color: white;
	transform: scale(1.15);
}
/*Style the title of the page, color, font, size*/
h1 { 
	color: #cae9ff;
	text-align: center;
	font-family: "Jolly Lodger", system-ui; 
  	font-weight: 400; 
  	font-style: normal;
	font-size: 350%;
}
/*style the hint for revision, color, font, size*/
#beforeQuiz h2 {
	color: #cae9ff;
	font-family: "Jolly Lodger", system-ui; 
  	font-weight: 400; 
  	font-style: normal;
	font-size: 200%;
}
/*remove underline from link and make it white*/
#beforeQuiz a {
	text-decoration: none;
	color: white;
}
/*change link's color on hover*/
#beforeQuiz a:hover {
	color: purple;
}
/*styling of the button that starts quiz*/
#startButton {
	text-align: center;
	margin: 0 40%;
	color: #086375;
	background-color: white;
	padding: 2% 6%;
	border-radius: 15px;
	transition: all 0.3s ease;
	cursor: pointer;
}
/*make button increase in size and add shadow on hover*/
#startButton:hover {
	transform: scale(1.15);
	box-shadow: 10px 10px 5px #cae9ff;
}
/*switches screens during the quizz time, from the screen with start to qiz to result screen*/
#beforeQuiz {
	display: block;
}
#quiz {
	display: none;
}
#afterQuiz {
	display: none;
	text-align: center;
}
/*styling Ready??? text*/
#beforeQuiz p {
	color: #cae9ff;
	font-family: "Jolly Lodger", system-ui; 
  	font-weight: 400; 
  	font-style: normal;
	font-size: 3em;
	text-align: center;
	margin-top: 8%;
}
/*styling question area*/
#question {
	margin: 4% 5%;
	text-align: center;
	overflow-wrap: break-word;
	padding: 1% 2%;
	color: #cae9ff;
	font-family: "Jolly Lodger", system-ui; 
  	font-weight: 400; 
  	font-style: normal;
	font-size: 250%;
	border: 5px solid #cae9ff;
	border-radius: 15px;
}
/*styling and giving grid to answer options with image in middle*/
#answers {
	margin: 0 auto;
	width: 85%;
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-rows: 25% 10% 25%;
	grid-template-columns: 2.5fr 1fr 2.5fr;
	grid-template-areas:
		"q1 . q2"
		". image ."
		"q3 . q4";
}
/*styling answer text and font*/
#answers p {
	color: #086375;
	background-color: white;
	font-family: "Jolly Lodger", system-ui; 
  	font-weight: 400; 
  	font-style: normal;
	border-radius: 15px;
	padding: 5% 20%;
	overflow-wrap: break-word;
	transition: all 0.3s ease;
	font-size: 200%;
}
/*make answer texts change color and grow on hover*/
#answers p:hover {
	color: white;
	background-color: purple;
	cursor: pointer;
	transform: scale(1.15);
}
/*link answer options to grd area*/
#q1 {
	grid-area: q1;
}
#q2 {
	grid-area: q2;
}
#q3 {
	grid-area: q3;
}
#q4 {
	grid-area: q4;
}
/*styling the image in the middle*/
#image {
	grid-area: image;
	width: 70%;
	height: auto;
}
/*styling the text. depending on score*/
#afterQuiz h2 {
	color: #cae9ff;
	font-family: "Jolly Lodger", system-ui; 
  	font-weight: 400; 
  	font-style: normal;
	font-size: 270%;
}
/*styling the link to retake the test*/
#afterQuiz a {
	display: inline-block;
	padding: 1.5% 8%;
	border-radius: 15px;
	text-decoration: none;
	color: #086375;
	background-color: white;
	font-family: "Jolly Lodger", system-ui; 
  	font-weight: 400; 
  	font-style: normal;
	font-size: 200%;
	transition: all 0.3s ease;
}
/*adding growth and shadow to the buttn for retaking test*/
#afterQuiz a:hover {
	transform: scale(1.15);
	box-shadow: 10px 10px 5px #cae9ff; 
}
/*centering the form*/
form {
	display: block;
	margin-top: 5%;
	margin-left: 40%;
}
/*styling the form's area*/
fieldset {
	width: 30%;
	display: flex;
	flex-direction: column;
	background-color: #cae9ff;
}
/*styling options for review*/
li {
	text-align: start;
	padding: 0;
	list-style-type: none;
	color: #cae9ff;
	font-family: "Jolly Lodger", system-ui; 
  	font-weight: 400;
}
/*styling footer section of the page*/
footer {
	margin-top: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*set font and color for sources*/
footer a {
	font-family: "Jolly Lodger", system-ui; 
  	font-weight: 400; 
  	font-style: normal;
	text-decoration: none;
	color: white;
}
/*make sources change color on hover*/
footer a:hover {
	color: purple;
}
