body {
    background-color: #086375;
}
header { /*properties for the header, logo and links together*/
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
nav a { /*properties for each link in <nav>*/
	margin: 0.4em;
	color: #086375;
	background: white;
	
	font-family: "Henny Penny", system-ui; 
 	font-weight: 400; 
  	font-style: normal; 
	text-decoration: none;
	font-weight: bold;
	border: 6px solid white;
	border-radius: 0.6em;
	padding: 0px 3.7em;
	transition: all 0.4s ease;
}
nav a:hover { /*properties for links when we put mouse cursor on them*/
	background-color: purple;
	border-color: purple;
	color: white;
	transform: scale(1.15);
	
}

nav { /*properties to style 3 links in <nav> together, their distance and size*/
	display: flex;
	flex: 1;
	justify-content: space-evenly;
	font-size: 1.7em;
	
}
h1 { /*properties for <h1>*/
	margin-top: 1em;
	text-align: center;
	
	font-family: "Jolly Lodger", system-ui; 
  	font-weight: 400; 
  	font-style: normal; 
	
	color: #cae9ff;
	font-size: 50px;
}
.character { /*properties for two pictures of our characters separately*/
	margin-top: 1em;
	transition: all 0.5s ease;
	width: 100%;
	max-width: 800px;
	height: auto;
}
.character:hover { /*properties for characters when hover*/
	transform: scale(1.1);
}
ul { /*remove dot in the beginning of each <li> element*/
	list-style-type: none;
}
.charLayout { /*properties for two images of characters and a side changing image together*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer { /*properties for footer text(sources, authors) and the second logo together*/
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
}
.source { /*properties for text in the footer about sources and authors*/
	font-family: "Jolly Lodger", system-ui; 
  	font-weight: 400; 
  	font-style: normal;
	
	color: #cae9ff;
	font-size: 2.3em;
}
.source a { /*making links of sources look like normal text*/
	text-decoration: none;
	color: white;
}
.source a:hover { /*properties for links when hover*/
	color: purple;
}
@media(max-width: 800px){
	header {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0.5rem;
	}
	nav {
		flex-direction: row;
		font-size: 0.5em;
		gap: 0.2rem;
		flex-wrap: wrap;
	}
	nav a {
		padding: 0.3em 1em;
		margin: 0.2em auto;
		width: auto;
		text-align: center;
	}
	h1 {
		font-size: 0.87rem;
		line-height: 1.1;
		padding: 0 0.5rem;
		text-align: center;
	}
	.charLayout {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		padding: 0;
	}
	.charColumn {
		flex-direction: column;
		gap: 0.5rem;
		align-items: center;
	}
	.charLayout > li:last-child {
		display: flex;
		justify-content: center;
		width: 100%
	}
	#banner {
		max-width: 30%;
		height: auto;
		margin-top: 0;
	}
	.character {
		max-width: 100%;
		margin-top: 0;
	}
	.footer {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 0;
		padding: 0 0.5rem;
	}
	.source {
		font-size: 0.8em;
	}
}
