body {
    background-color: #086375;
}
header { 
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.logo {
	width: 16vh;
	height: 16vh;
}
nav { 
	display: flex;
	flex: 1;
	justify-content: space-evenly;
	font-size: 150%;
}
nav a { 
	margin: 1vh;
	color: #086375;
	background: white;
	
	font-family: "Henny Penny", system-ui; 
 	font-weight: 400; 
  	font-style: normal; 
	text-decoration: none;
	font-weight: bold;
	border: 6px solid white;
	border-radius: 15px;
	padding: 0vh 16vh;
	transition: all 0.4s ease;
}
nav a:hover { 
	background-color: purple;
	border-color: purple;
	color: white;
	transform: scale(1.15);
}
#stage {
	position: relative;
	margin: auto;
	width: 30%;
}
.mainToji {
	display: block;
	margin: auto;
	width: 100%;
	height: auto;
}
h1 {
	font-family: "Jolly Lodger", system-ui; 
  	font-weight: 400; 
  	font-style: normal;
	text-align: center;
	font-size: 10vh;
	color: #cae9ff;
}
#firstCanvas {
	width: 54%;
	height: 23%;
	position: absolute;
	top: 12%;
	left: -38%;
}
#contentOne {
	background-color: #086375;
	position: absolute;
	top: -8%;
	left: -110%;
	width: 90%;
	height: 70%;	
}
#secondCanvas {
	position: absolute;
	top: 49%;
	right: 46%;
	width: 80%;
	height: 47%;
}
#contentTwo {
	background-color: #086375;
	position: absolute;
	width: 70%;
	height: 70%;
	top: 55%;
	left: -105%;
}
#thirdCanvas {
	position: absolute;
	width: 104%;
	height: 38%;
	top: -7%;
	right: -57%;
}
#contentThree {
	background-color: #086375;
	position: absolute;
	width: 28vw;
	height: 39vh;
	top: 5%;
	right: -110%;
}
#fourthCanvas {
	position: absolute;
	width: 39vw;
	height: 42vh;
	top: 41%;
	left: 51%;
}
#contentFour {
	background-color: #086375;
	position: absolute;
	width: 100%;
	height: 40%;
	top: 75%;
	right: -105%;
}
.info {
	visibility: visible;
}
.pointClass {
	background-color: #7fcaff;
	position: absolute;
	width: 0.7vw;
	height: 1.6vh;
	border-radius: 50%;
	transition: all 0.3s ease;
	cursor: pointer;
}
.pointClass:hover {
	transform: scale(2);
}
#point {
	top: 30%;
	left: 5%;
}
#point2 {
	top: 63%;
	left: 40%;
}
#point3 {
	top: 25%;
	left: 52%;
}
#point4 {
	top: 40%;
	right: 48%;
}
#videoInventory {
	margin-left: 1.8vw;
	width: 25vw;
	height: auto;
}
p {
	font-family: "Jolly Lodger", system-ui; 
  	font-weight: 400; 
  	font-style: normal;
	color: #cae9ff;
	font-size: 4vh;
}
#videoWeapon {
	width: 25vw;
	height: auto;
}
#hint {
	font-family: "Jolly Lodger", system-ui; 
  	font-weight: 400; 
  	font-style: normal;
	color: #cae9ff;
	position: absolute;
	top: 40vh;
	visibility: visible;
	font-size: 4vh;
}
article {
	margin-top: 20vh;
	display: flex;
	justify-content: space-around;
	border:	2vw solid white;
	border-top: none;
	height: 49vh;
}
article section:last-child {
	border-right: none;
}
article section {
	flex: 1;
	background-color: #086375;
	border-right: 2vw solid white;
}
section h2 {
	font-family: "Jolly Lodger", system-ui; 
  	font-weight: 400; 
  	font-style: normal;
	color: #086375;
	text-align: center;
	background-color: white;
	margin-top: 0;
	font-size: 7vh;
	margin-bottom: 0px;
}
section p {
	font-size: 150%;
	text-align: justify;
	padding: 0 0.5vw;
}
#list {
	width: 
}
#videoFight {
	width: 33vw;
	height: auto;
}
li {
	color: #cae9ff;
	font-family: "Jolly Lodger", system-ui; 
  	font-weight: 400; 
  	font-style: normal;
	font-size: 140%;
}
ul {
	list-style-type: none;
}
section li::before {
	content: "🗡️";
	margin-right: 2vw;
}
footer {
	margin-top: 5vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
footer a {
	font-family: "Jolly Lodger", system-ui; 
  	font-weight: 400; 
  	font-style: normal;
	text-decoration: none;
	color: white;
}
footer a:hover {
	color: purple;
}